/*
REFERENCES: 
Auth forms:  https://codepen.io/ibrahimjabbari/pen/qBWYBYv
Nav bar:  https://codepen.io/WebDevSimplified/pen/LqKQRK
hamburger:  https://codepen.io/codwerk/pen/bGGJzyq
buttons:  https://codepen.io/WebDevSimplified/pen/jOEorZN
tabs:  https://codepen.io/mirek-marchut/pen/wvqMBvW?editors=1100
*/


@import './styles/hamburger.css';
@import './styles/navbar.css';
@import './styles/forms.css';
@import './styles/starRating.css';
@import './styles/boutTabs.css';
@import './styles/searchBar.css';
@import './styles/dialogBox.css';


:root {
  --primary: rgb(57,33,255);
  --secondary: white;
  --accent1: rgb(176,23,69);
  
}

*, *::before, *::after {
  box-sizing: border-box
}

body {
  background: linear-gradient(var(--secondary), var(--primary));
  background-attachment: fixed;
  width: 100%;
}

.hidden {
  display: none;
}

.button {
  cursor: pointer
}

/* generic classes to scooch things around */
.mb {
  margin-bottom: 1rem;
}

/* Use for placing  */
.test{
  background-color: lime;
  color: red;
}



/* really just a card */
.container {
  background-color: white;
  margin: 20px auto;
  padding: 20px;
  width: min(100%, 600px);
  min-height: 50px;
  justify-content: center;
  text-align: center;
  display: grid;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.7);
  transition: all 0.2s;
  text-decoration: none;
  overflow: hidden;
  word-break: normal;
} 

.submit-button {
  background-color: var(--accent1);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
	font-size:16px;
	font-family: Montserrat,Arial, Helvetica, sans-serif;
	border-radius:10px;
}

.submit-button:hover {
  opacity:1;
}

.auth-form > input {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #e0e0e0;
	font-family: Montserrat,Arial, Helvetica, sans-serif;
}

.google-login {
  
  justify-self: center;
  /* display: inline-block; */

  /* left: 50%; */
  /* transform: translateX(-50%); */
}


.form >*> input[type=text] {
  border: none;
  border-bottom: 2px solid red;
}

.old-container {
  padding: 20px;
  width:min(500px, 100%);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
    border:1px solid #ccc;
    border-radius:10px;
    background:white;
  -webkit-box-shadow: 2px 1px 21px -9px rgba(0,0,0,0.38);
  -moz-box-shadow: 2px 1px 21px -9px rgba(0,0,0,0.38);
  box-shadow: 2px 1px 21px -9px rgba(0,0,0,0.38);
}

.detail {
  font-weight: bold;
  font-size: x-large;
  margin: 0;
}



/* previous next buttons */
.pagination-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.previous-button, .next-button {
  background: var(--secondary);
  font-size: 2rem;
  color: var(--primary);
  border: 0;
  padding: 2rem 4rem;
  margin: 1rem 1.5rem;
  font-weight: 1000;
  border-radius: 15px;
  display: inline-block;
  text-align: center;
  justify-content: center;
  -webkit-box-shadow: 2px 1px 21px -9px rgba(0,0,0,0.8);
  -moz-box-shadow: 2px 1px 21px -9px rgba(0,0,0,0.8);
  box-shadow: 2px 1px 21px -9px rgba(0,0,0,0.8);
}
.previous-button{
  padding: 2rem;
}




/* for testing rating button */
.my-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.on {
  color: #000;
}
.off {
  color: #ccc;
}

