/* reference:  https://codepen.io/nikstech/pen/xmMxpr */
/* another reference: https://codepen.io/team/css-tricks/pen/XVBLRM?editors=1100 */

.form-input {
	position:relative;
	margin-bottom:25px;
}

.form-input label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:black;	
	transition: all 0.5s ease-in-out;
}

.form-input input, 
.form-input select{ 
    position: relative;
    border:0;
    border-bottom:1px solid rgb(61, 61, 61);  
    background:transparent;
    width:100%;
    padding:8px 0 5px 0;
    font-size:16px;
    color:rgb(0, 0, 0);
}

.form-input input:focus{ 
    border:none;	
    outline:none;
    border-bottom:1px solid var(--accent3);	
}

.form-input input:focus ~ label,
.form-input input:active ~ label,
.form-input select:focus ~ label,
.form-input select:active ~ label {
	top:-12px;
	font-size:12px;	
}

.form-input input[type="date"] {
    color: white;
    transition: color 250ms ease-in;
}

input[type="date"]:focus,
input[type="date"]:active {
    color: black;
}


.form-input > label.jumped {
    top:-12px;
	font-size:12px;
}

.form-input input[type="date"].jumped {
    color: black
}

.form-input .arrow {
    top: 0;
    right: 0;
    position:absolute;
    display: block;
    height: 100%;
    width: 1rem;
    background: transparent;
    border: 1;
    pointer-events: none;

}

.form-input .arrow::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-left: .25em solid transparent;
    border-right: .25em solid transparent;
    border-top: .25em solid black;
    z-index: 100;
}


